.box {
  width: 100px;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: chocolate;

  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 5px;
}

.col {
  justify-content: center;
  align-items: center;
}

.container_square {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.fizz {
  background-color: blueviolet;
  color: white;
}

.buzz {
  background-color: cornflowerblue;
  color: white;
}

.fizzbuzz {
  background-color: cadetblue;
  color: white;
}
